<div id="woofader">
    <div id="featured" class="col-full">

            <div class="slide ">

                <div class="featured-image">
                    <a href=""><img src="/images/lipad2ed-cover.png" alt="" style="margin-bottom:-65px;" /></a>
                </div>

                <div class="wrap">
                    <p>Learning iPad Programming, Second Edition is coming Spring 2013.</p>
                    <p><a href="book/2edition.html" class="btn"><span>Read More</span></a>  <a href="http://www.amazon.com/gp/product/0321885716/ref=as_li_ss_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=0321885716&linkCode=as2&tag=whitepeaksoft-20" class="btn"><span>Pre-order on Amazon</span></a></p>
                </div>

            </div><!-- /.slide -->

        <div class="slide  hidden">
    
            <div class="featured-image">
                <a href=""><img src="/images/lipad-cover.png" alt="" style="margin-bottom:-65px;" /></a>
            </div>
                        
            <div class="wrap">
                <p>Learning iPad Programming, a hands-on guide to building apps for the iPad, is a new book by authors and iOS programmers Kirby Turner and Tom Harrington.</p>
<p><a href="book/index.html" class="btn"><span>Read More</span></a>  <a href="http://amzn.to/ipadprogbook" class="btn"><span>Buy Now on Amazon</span></a></p>
            </div>
            
        </div><!-- /.slide -->
        		        					
        <div class="slide  hidden">
    
            <div class="featured-image">
                <a href="http://photowheelapp.com/"><img src="/images/pw-screenshot01.png" alt="" style="margin-bottom:-65px;" /></a>
            </div>
                        
            <div class="wrap">
                <p>PhotoWheel, the app from the book, is available for download from the App Store. Visit <a href="http://photowheelapp.com">photowheelapp.com</a> to learn more about the app or <a href="http://bit.ly/photowheelapp">download it now</a> from the App Store.</p>
<p><a href="http://photowheelapp.com/" class="btn"><span>Learn More</span></a>  <a href="http://bit.ly/photowheelapp" class="btn"><span>Download Now</span></a></p>
            </div>
            
        </div><!-- /.slide -->
                
    </div><!-- /#featured -->
    <div class="fix"></div>
    
	<div id="breadcrumb">
        
        <div class="col-full">
            <div class="col">
                <div class="fl">
                    <a href="index.html#" class="left"></a>
                    <a href="index.html#" class="right"></a>
                </div>
                <div class="fr">
                    <ul class="pagination">
                        <li class="active"><a href="index.html#"></a></li>
                        <li ><a href="index.html#"></a></li>
                        <li ><a href="index.html#"></a></li>
                    </ul>
                </div>
                <div class="fix"></div>
            </div><!-- /.col -->
        </div><!-- /.col-full -->
        
    </div><!-- /#breadcrumb -->
	       
    
</div><!-- /#woofader -->


<script type="text/javascript">
jQuery(document).ready(function(){

	jQuery('#woofader').woofader({
		speed: 500, 
		timeout: 6000,
		animate: false,
		autoHeight: false	});
	    
});
</script>

<style type="text/css">
	#featured { height: 325px}
</style>
