<div id="sidebar" class="col-right">
    <div class="primary">
		<div id="woo_news-3" class="widget widget_woo_news">
			<h3>Latest</h3>
            <a class="rss" href="/atom.xml" title="Subscribe to our RSS feed"><img src="/styles/inspire/images/ico-rss-big.png" alt="RSS"/></a>
				
			<div>
                {% for post in site.posts limit: site.recent_posts %}
			    <div class="item">
                    	<a class="title" href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
                        <p class="post-meta">
                            <span class="small">by</span> <span class="post-author"><a href="author/kirbyt/index.html" title="Posts by kirbyt" rel="author">kirbyt</a></span>
                            <span class="small">on</span> <span class="post-date">July 26, 2012</span>
                            <span class="small">in</span> <span class="post-category"><a href="category/general/index.html" title="View all posts in general" rel="category tag">general</a>, <a href="category/objective-c/index.html" title="View all posts in objective-c" rel="category tag">objective-c</a></span>
                        </p>
                        <p>{{ post.content | strip_html | truncatewords:20}}</p>
                </div>
                {% endfor %}
				    
				    
            </div>
			
    	</div>   
   		           
    </div>        
	
</div><!-- /#sidebar -->		           
