---
layout: default
---

<!-- #main Starts -->
<div id="main" class="col-left">      

    <span class="archive_header"><span class="fl cat">{{ page.title }}</span></span>        
    <div class="fix"></div>

{% assign index = true %}
{% for post in site.categories[page.category] %}
    <!-- Post Starts -->
    <div class="post-405 post type-post status-publish format-standard hentry category-general category-objective-c">
        <h2 class="title"><a href="{{ root_url }}{{ post.url }}" rel="bookmark" title="{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}">{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}</a></h2>

        <p class="post-meta">
            <span class="small">by</span> <span class="post-author">kirbyt</span>
            <span class="small">on</span> <span class="post-date">{{ post.date | date: "%B %d, %Y" }}</span>
            {% if post.categories %}<span class="small">in</span> <span class="post-category">{{ post.categories | category_links }}</span>{% endif %}
        </p>
        <p>{{ post.content | strip_html | truncatewords:20}}</p>
        
    </div><!-- /.post -->
    <!--- Post Ends -->
{% endfor %}

</div><!-- /#main -->

{% include latest.html %}

